/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 *
 * For simplicity, no reset or normalize is added.
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */
body {
    background: linear-gradient(168deg, #af2222, #9bcb59);
    background-size: 400% 400%;
    animation: AnimationName 30s ease infinite;
    margin: 0;
    font-family: "Merriweather", serif;
    color: #fff;
}

@keyframes AnimationName {
    0% {
        background-position: 94% 0%;
    }
    50% {
        background-position: 7% 100%;
    }
    100% {
        background-position: 94% 0%;
    }
}

/* Typeography General*/
h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 5em;
        margin: 2em 4rem 1em;
    }
}

@media only screen and (min-width: 48em) {
    h1 {
        font-size: 7em;
    }
}

h2 {
    border-bottom: 1px solid rgba(200, 200, 200, 1);
    font-family: "Oxygen", Sans-Serif;
    font-size: 3em;
    color: #fff;
}

h3 {
    margin: 0 0 0.3em 0;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

.card__set {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

@media only screen and (min-width: 48em) {
    .card__set {
        grid-template-columns: 1fr 1fr;
    }
}

.page__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2rem;
}

.logo {
    display: none;
}

@media only screen and (min-width: 48em) {
    .page__header {
        flex-direction: row;
    }
}

/* ---- Module Rules ---- */
/* logo */
.logo {
    display: none;
}

@media only screen and (min-width: 48em) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Collapse button */
section {
    transition: min-height 0.8s;
}
section.collapsed {
    min-height: 0;
}

section.collapsed .landing__container > *:not(h2, p) {
    display: none;
}

section button .collapse__icon {
    width: 1.5em;
    height: 1.5em;
}

section button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: transform 0.3s;
}

section button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

section button:hover .collapse__icon:first-of-type {
    transform: translateY(2px);
}

section button:hover .collapse__icon:last-of-type {
    transform: translateY(-2px);
}

section.collapsed button .collapse__icon:first-of-type {
    transform: translateY(1.5em);
}

section.collapsed button .collapse__icon:last-of-type {
    transform: translateY(-1.5em);
}

section.collapsed button:hover .collapse__icon:first-of-type {
    transform: translateY(calc(1.5em - 2px));
}

section.collapsed button:hover .collapse__icon:last-of-type {
    transform: translateY(calc(-1.5em + 2px));
}

/* Card */
.card {
    position: relative;
    border: 2px solid white;
    padding: 1.8rem;
    border-radius: 5px 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    overflow: hidden;
}

section:nth-of-type(even) .card {
    justify-content: right;
}

.card:visited {
    color: white;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px 1rem;
    object-fit: cover;
    z-index: -1;
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.2);
}

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 0.5em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

@media only screen and (min-width: 48em) {
    .navbar__menu .menu__link {
        padding: 1.5em;
    }
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: all 0.5s ease-in-out;
}

.page__header--hide {
    transform: translateY(-100%);
}

.menu__button {
    top: -6rem;
    left: 3rem;
}

.page__header--hide ~ .menu__button {
    transform: translateY(10rem);
}

.page__header--hide ~ .menu__button:hover {
    transform: translateY(10rem) scale(1.2);
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p {
    color: #fff;
}

/* floating button */
.floating__btn {
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s;
    z-index: 1000;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.floating__btn:hover {
    background-color: #333;
    color: white;
}

/* Scroll to Top Styles */
.to__top {
    bottom: 2rem;
    right: -5rem;
}

.to__top:hover {
    transform: translateX(-8rem) scale(1.2);
}

.to__top--visible {
    transform: translateX(-8rem);
}

/* ---- Theme Rules ---- */
/* SVG */
.svg {
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.landing__container h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section:nth-of-type(even) .landing__container h2 {
    flex-direction: row-reverse;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: "";
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    border-radius: 2%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

/* Menu active */
.menu__link::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0%;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: currentColor;
    transition: width 0.5s;
}

.menu__link.menu-active-class {
    position: relative;
    color: #af2222;
}

.menu__link.menu__link.menu-active-class::after {
    width: 100%;
    height: 4px;
}
